#hostMenu {
    visibility: hidden;
}
#playerManagementMenu {
    visibility: hidden;
}
#LocationManagementMenu {
    visibility: hidden;
}
#weaponManagementMenu {
    visibility: hidden;
}

#confirmKickPlayerMenu {
    visibility: hidden;
}

#startGameButton {
    --offset: 3px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
.TeamsMenu {
    width: 800px;
    height: 400px;
}

.playerNameButtons {
    width: 200px
}

.Active-Button {
    border: solid 10px;
    transition: border-width 0.1s linear;
}
  
.Active-Button:hover { border-width: 5px; }

html {
    background: transparent;
}




